body {
  background-color: #75e1ffdf; /* Clean slate background */
  font-family: Arial, sans-serif;
  color: #0f172a;
  margin: 0;
  padding: 20px;
}

/* Header & Heading Styles */
header {
  background-color:yellow; /* T1 Esports Red */
  color: #000000;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  box-shadow: 0 3px 5px rgb(0, 0, 0);
  border-collapse: collapse; 
}

thead {
  background-color:rgb(254, 255, 174);
}

th, td {
  border: 1px solid black;
  padding: 12px;
  text-align: left;
}



/*Dynamic Row Styling (Zebra Striping & Hover) */
tr:nth-child(odd) {
  background-color: #ff8400;
}
tr:nth-child(even) {
  background-color: white;
}

tr:hover {
  transition: background-color 0.2s ease;
  background-color: yellow;
}

/*Footer Styling */
footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 0.9em;
  color: #64748b;
  border-top: 1px solid #cbd5e1;
}

h2 {
  color:green;
}
